.fullscreen-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
  animation: float 10s infinite ease-in-out;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}
